/*==============================image==============================*/

.file-upload {
    background-color: #ffffff;
    width: 80%;
    margin: 0 10% 5%;
}

    .file-upload * {
        text-align: center;
    }

.my-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #f77045;
    border: none;
    padding: 10px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
}

    .my-btn:hover {
        background: #FF5722;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .my-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    left: 0;
}

.file-upload-image {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 5%;
    border-radius: 50%;
}