.col-md-3 {
    width: 23%;
    margin: 1%;
}

.mat-card-actions {
    text-align: center;
}

.mat-raised-button {
    width: 65%;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt, dd {
    float: left;
    width: 50%;
    margin: 2% 0;
}
