.col-md-3 {
    width: 23%;
    margin: 1%;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.mat-card-actions {
    text-align: center;
}

.mat-raised-button {
    width: 46%;
    margin: 2% !important;
}

dl {
    width: 100%;
    overflow: hidden;
    /* background: #ff0; */
    padding: 0;
    margin: 0
}

dd,dt{
    float: left;
    width: 50%;
    line-height: 2.5;
    padding: 0;
    margin: 0
}