<mat-card class="col-md-3">
  <mat-card-content class="mat-card-content">

    <h3>{{project.projectName}}</h3>
    <hr class="colorgraph">
    <dl>
      <dt>done of this project:</dt>
      <dd>{{projectPercentHours |percent}}</dd>

      <dt>company name:</dt>
      <dd>{{project.customer.customerName}}</dd>

      <dt>start date:</dt>
      <dd>{{project.startDate | date: 'dd/MM/yyyy'}}</dd>

      <dt>end date:</dt>
      <dd>{{project.endDate | date: 'dd/MM/yyyy'}}</dd>

      <dt>hours for this project:</dt>
      <dd>{{project.totalHours}}</dd>

      <dt>worked for this project:</dt>
      <dd> {{projectPresenseHours| number : '1.2-2'}} hours</dd>

      <dt>needs to work more:</dt>
      <dd>{{(project.totalHours-projectPresenseHours)| number : '1.2-2'}} hours</dd>
    </dl>

  </mat-card-content>
</mat-card>