<header class="row">
  <app-menu></app-menu>

  <div class="user" *ngIf="localStorage.getItem(global.USER)">
    <span class="userName col-md-8">Hello {{ json.parse(localStorage.getItem(global.USER)).userName}}</span>
    <div class="profile col-md-4">
      <img *ngIf="json.parse(localStorage.getItem(global.USER)).profileImageName" src="{{global.UPLOADS}}/UsersProfiles/{{json.parse(localStorage.getItem(global.USER)).profileImageName}}">
      <i *ngIf="!json.parse(localStorage.getItem(global.USER)).profileImageName" class="fa fa-user-circle-o"></i>
    </div>
  </div>

  <div class="user" *ngIf="!localStorage.getItem(global.USER)">
    <span class="userName col-md-8">Guest</span>
    <div class="profile col-md-4">
      <i class="fa fa-user-circle-o"></i>
    </div>
  </div>
</header>