<mat-card class="col-md-3">
    <mat-card-content class="mat-card-content">
        <img [src]="imageUrl">
        <h3>{{user.userName}}</h3>
        <h5 *ngIf="user.departmentId">{{user.department.departmentName}}</h5>
        <h5 *ngIf="!user.departmentId">Team Leader</h5>
    </mat-card-content>

    <mat-card-actions>
        
        <ng-container *ngIf="listKind==eListKind.ALL_WORKERS">
            <button mat-raised-button color="primary" (click)="edit()">
                <i class="fa fa-pencil-square-o"></i>
                Edit
            </button>
            <button mat-raised-button color="primary" (click)="showDialog()">
                <i class="fa fa-trash-o"></i>
                Delete
            </button>
            <button mat-raised-button color="primary" (click)="definePermissions()">
                <i class="fa fa-lock"></i>
                Permissions
            </button>
        </ng-container>

        <ng-container *ngIf="listKind==eListKind.TEAM_LEADERS">
            <button mat-raised-button color="primary" (click)="teamManagement()">
                <i class="fa fa-users"></i>
                Team Management
            </button>
        </ng-container>

        <ng-container *ngIf="listKind==eListKind.TEAM_WORKERS">
            <button mat-raised-button color="primary" (click)="updateHours()">
                <i class="fa fa-clock-o"></i>
                Update Hours
            </button>
        </ng-container>

    </mat-card-actions>
</mat-card>