<mat-list-item>
    <div *ngIf="complete" class="deleted"></div>
    <span class="col-md-3">{{workerHour.project.projectName}}</span>
    <span class="col-md-3">{{workerHour.numHours}}</span>
    <button 
    mat-fab color="primary" class="col-md-3"
   [matTooltip] ="btnMessage"
    aria-label="Button that displays a tooltip when focused or hovered over"
     (click)="btnTaskClick()" [disabled]="disabled&&isStarted==false||complete">
            <i [ngClass]="btnIcon"></i>
    </button>
    <app-timer class="col-md-3" [isStarted]="isStarted"></app-timer>
</mat-list-item>
<mat-divider></mat-divider>