/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body{
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI";
    font-size:16px;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
    /*============================== group ==============================*/
.group {
    position: relative;
    text-align: left;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 5%;
    font-family: 'Segoe UI' !important;
    font-size: 18px !important;
    color:gray;
}
/*============================== form-field ==============================*/
    
    .mat-form-field{
        width: 100%;
        padding: 0;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        bottom: 0;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-select-panel {
        min-width: 100% !important;
        width: 100% !important;
        margin-top: 12%;
        margin-top: 46px;
        margin-left: 17px;
    }

    /*==============================check-box ==============================*/

    .mat-checkbox-label{
        font-weight: 500;
    }
/*============================== err-message ==============================*/
.myAlert{
		color: red;
    }

/*============================== dialog ==============================*/

.mat-dialog-actions{
    width: max-content;
    float: right;
}
.mat-dialog-container{
    height: 60vh;
}

/*============================== menu ==============================*/

.mat-menu-panel.mat-menu-after.mat-menu-below {
    position: relative;
    top: 50px;
}

.mat-menu-panel {
    max-width: 158px !important;
}

.bg-light {
    background-color: white !important;
}
/*============================== table ==============================*/

 body .ui-treetable .ui-treetable-thead > tr > th,body .ui-treetable .ui-treetable-tbody > tr > td {
    border-right: none;
    border-left: none;
    padding: 1em 0.857em;
 }

 .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  }


